.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  margin-left: 3rem;
  margin-right: 3rem;
}

.card {
  color: #282c34;
  height: 18rem;
  margin: 0.1rem;
}

.card-text {
  font-size: 0.7rem;
}

.small {
  font-weight: 450;
  font-size: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.6rem;
}

.card-link {
  font-size: 0.8rem;
}